[submodule "agents/pete-engine"]
	path = agents/pete-engine
	url = git@github.com:cryptolyrics/pete-engine.git
[submodule "agents/ali_growth_engine"]
	path = agents/ali_growth_engine
	url = git@github.com:cryptolyrics/ali-growth-engine.git
